# Ignore virtual environment
my_env/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Add other folders you want to ignore here
old/
output/
input/
static/


# Ignore specific Python files
app_version1.py
dct1.py
refrence.py
vert_watermark.py

# Ignore database file
my_db.db